{% load static %}
<!-- Bottom Scripts -->
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/TweenMax.min.js' %}"></script>
<script src="{% static 'assets/js/resizeable.js' %}"></script>
<script src="{% static 'assets/js/joinable.js' %}"></script>
<script src="{% static 'assets/js/xenon-api.js' %}"></script>
<script src="{% static 'assets/js/xenon-toggles.js' %}"></script>
<!-- JavaScripts initializations and stuff -->
<script src="{% static 'assets/js/xenon-custom.js' %}"></script>
<script src="{% static 'assets/js/lozad.js' %}"></script>
